<!DOCTYPE html>
<html>
<head>
  <title>Install Page</title>
</head>
<body>

  <h2>Install the application</h2>

  <form method="GET" action="login">
    <label>Type shop name:</label>
    <input type="text" name="shop" placeholder="blabla.myshopify.com"/>
    <button type='submit'>Install</button>
  </form>

</body>
</html>
