<% content_for :javascript do %>
  <script type="text/javascript">
    window.mainPageTitle = 'Buttons Page';

    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: window.mainPageTitle,
        buttons: {
          primary: {label: "Primary", loading: false, callback: function(){ alert('Primary clicked'); } },
          secondary: [
            {label: "Normal", loading: false, callback: function(){ alert('Normal clicked'); } },
            {label: "Danger", loading: false, style: 'danger', callback: function(){ alert('Danger clicked'); } },
            {label: "Disabled", loading: false, style: 'disabled', callback: function(){ alert('Disabled clicked'); } }
          ]
        }
      });
    });
  </script>
<% end %>

<p>
  Buttons can be styled as "danger", "disabled", "primary", or null/undefined as default.
</p>
