<h2>This content is content is an iframe.</h2>

<p>
  Modals accept an object of buttons. The object can contain keys as follows:

  <ul>
    <li>`primary`: Max 2 button. Floated right. Defaults to green, and the only button that can be green.</li>
    <li>`secondary`: Max 2 buttons. Floated right after the primary button.</li>
    <li>`tertiary`: Max 2 buttons. Floated left.</li>
  </ul>
</p>
