<div class="page-header" id="login-header">
  <h1>Install This App</h1>
  <h1><small>This app requires you to login to start using it.</small></h1>
</div>

<div style="width:340px; margin:0 auto;">
  <%= form_tag login_path, :class => 'form-search' do %>
    <%= text_field_tag 'shop', nil, :placeholder => 'Shop URL', :class => 'btn-large' %>
    <%= submit_tag 'Install', :class => 'btn btn-primary btn-large' %>
  <% end %>
</div>

<p align="center" style="margin-top:30px">
  <%= image_tag 'shopify.png' %>
</p>

<br/>

<p align="center" class="muted">
  Don't have a shop? <a href="https://app.shopify.com/services/partners/api_clients/test_shops">Create a Test Shop</a>
</p>
