<h2>App Proxy Page</h2>

<p>Congratulations! You have successfully configured App Proxy for your shopify application.</p>
<p>Any liquid code in this page will be parsed by Shopify before displaying this page.</p>

<hr>

<div>
  <p>Your Shop Details:</p>
  <h3>{{ shop.name }}</h3>
  <h6>{{ shop.permanent_domain }}</h6>

  <hr>

  <p>No. of products in this shop : <span>{{ shop.products_count }}</span></p>
</div>
