<h1 class="blue">Overview of the styles used</h1>

<div class="info">
  <%= image_tag '/images/info.gif', :style => "float:left" %>
  <p>You are free to use this demo application as a base to create new applications that use the Shopify API.</p>
</div>

<table id="style-table">
  <tr>
    <td style="width: 33%">
      <pre><code>&lt;h1&gt;Lorem ipsum&lt;/h1&gt;</code></pre>
    </td>
    
    <td style="width: 66%">
      <h1>Lorem ipsum</h1>
    </td>
  </tr>
  <tr>
    <td>
      <pre><code>&lt;h2&gt;Lorem ipsum&lt;/h2&gt;</code></pre>
    </td>
    
    <td>
      <h2>Lorem ipsum</h2>
    </td>
  </tr>
  <tr>
    <td>
      <pre><code>&lt;h3&gt;Lorem ipsum&lt;/h3&gt;</code></pre>
    </td>
    
    <td>
      <h3>Lorem ipsum</h3>
    </td>
  </tr>
  <tr>
    <td>
      <pre><code>&lt;h4&gt;Lorem ipsum&lt;/h4&gt;</code></pre>
    </td>
    
    <td>
      <h4>Lorem ipsum</h4>
    </td>
  </tr>    

  <tr>
    <td>
      <pre><code>&lt;p&gt;&hellip;&lt;/p&gt;</code></pre>
    </td>
    
    <td>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </td>
  </tr>

  <tr>
    <td>
      <pre><code>&lt;p class="note"&gt;&hellip;&lt;/p&gt;</code></pre>
    </td>
    
    <td>
      <p class="note">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </td>
  </tr>

  <tr>
    <td>
      <pre><code>&lt;span class="highlight"&gt;&hellip;&lt;/span&gt;</code></pre>
    </td>
    
    <td>
      <span class="highlight">Lorem ipsum dolor sit amet</p>
    </td>
  </tr>

  <tr>
    <td>
      <pre><code>&lt;h3 class="blue"&gt;&hellip;&lt;/h3&gt;</code></pre>
    </td>
    
    <td>
      <h3 class="blue">Lorem ipsum</h3>
    </td>
  </tr>
  <tr>
    <td>
      <pre><code>&lt;h3 class="green"&gt;&hellip;&lt;/h3&gt;</code></pre>
    </td>
    
    <td>
      <h3 class="green">Lorem ipsum</h3>
    </td>
  </tr>
  <tr>
    <td>
      <pre><code>&lt;h3 class="orange"&gt;&hellip;&lt;/h3&gt;</code></pre>
    </td>
    
    <td>
      <h3 class="orange">Lorem ipsum</h3>
    </td>
  </tr>  

  <tr>
    <td>
      <pre><code>&lt;p class="blue"&gt;&hellip;&lt;/p&gt;</code></pre>
    </td>
    
    <td>
      <p class="blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </td>
  </tr>
  <tr>
    <td>
      <pre><code>&lt;p class="green"&gt;&hellip;&lt;/p&gt;</code></pre>
    </td>
    
    <td>
      <p class="green">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </td>
  </tr>
  <tr>
    <td>
      <pre><code>&lt;p class="orange"&gt;&hellip;&lt;/p&gt;</code></pre>
    </td>
    
    <td>
      <p class="orange">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </td>
  </tr>  

  <tr>
    <td>
      <pre><code>&lt;div class="box"&gt;<br />&nbsp;&nbsp;&lt;div class="wrapper"&gt;&hellip;&lt;/div&gt;<br />&lt;/div&gt;</code></pre>
    </td>
    
    <td>
      <div class="box"><div class="wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></div>
    </td>
  </tr>

  <tr>
    <td>
      <pre><code>&lt;p class="dark"&gt;&hellip;&lt;/p&gt;</code></pre>
    </td>
    
    <td>
      <p class="dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </td>
  </tr>

  <tr>
    <td>
      <pre><code>&lt;p class="light"&gt;&hellip;&lt;/p&gt;</code></pre>
    </td>
    
    <td>
      <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </td>
  </tr>



</table>
