<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <base target="_top">
  <title>Redirecting…</title>
  <style>
    #RequestStorageAccess {
      display: none;
    }
  </style>
</head>
<body>
<main id="RequestStorageAccess">
  <button type="button" id="TriggerAllowCookiesPrompt" />
</main>
</body>
</html>
